extends layout

block content
    h1= title

    ul
      each bookInst in bookInstancesList
          li
              a(href=bookInst.url) #{bookInst.book.title} : #{bookInst.imprint} -
              if bookInst.status === 'Available'
                  span.text-success #{bookInst.status}
              else if bookInst.status === 'Maintenance'
                  span.text-danger #{bookInst.status}
              else
                  span.text-warning #{bookInst.status}
              if bookInst.status !== 'Available'
                  span  (Due: #{bookInst.due_back_formatted} )

      else
          li There are no book copies in this library.